    <!-- pageheader
    ================================================== -->
    <section class="s-pageheader s-pageheader--home">

      <header class="header">
          <div class="header__content row">

              <div class="header__logo">
                  <a class="logo" href="index.html">
                      <img src="../assets/images/logo.png" alt="Homepage">
                  </a>
              </div> <!-- end header__logo -->

              <ul class="header__social">
                  <li>
                      <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  </li>
                  <li>
                      <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  </li>
                  <li>
                      <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </li>
                  <li>
                      <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                  </li>
              </ul> <!-- end header__social -->


              <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

              <nav class="header__nav-wrap">

                  <h2 class="header__nav-heading h6">Site Navigation</h2>

                  <ul class="header__nav">
                      <li class="current"><a href="/" title="">Home</a></li>
                      <li><a href="blog" title="">Blog</a></li>
                      <li><a href="about" title="">About</a></li>
                      <li><a href="/contact" title="">Contact</a></li>
                  </ul> <!-- end header__nav -->

                  <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

              </nav> <!-- end header__nav-wrap -->

          </div> <!-- header-content -->
      </header> <!-- header -->



  </section> <!-- end s-pageheader -->
